@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/hamburger';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skill';


* {
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.divider {
    width: 60px;
    height: 0px;
    border: 3px solid rgb(255, 165, 1);
    margin-top: 25px;
}
