.hamburger {
    display: flex;
    position: absolute;
    width: 36px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 1800px;
    z-index: 3;
    position: fixed;
    align-items:end;
    cursor: pointer;
    span {
        width: 30px;
        height: 3px;
        background: rgb(21, 24, 18);
        
        &:nth-child(2) {
            width: 36px;
        }

    }
}