.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
    cursor: pointer;
    span {
        width: 30px;
        height: 3px;
        background: rgb(21, 24, 18);
        &:nth-child(2) {
            width: 36px;
        
    }
    }
}